body {
    font-family: Arial, sans-serif;
    background-color: #e0f7fa; 
    color: #333; /* Texto
  }
  
  .container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff; /* Fondo 
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
  }
  
  .campo {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="tel"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .botones {
    display: flex;
    justify-content: space-around;
  }
  
  button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #45a049; 
  }
  
  #guardar {
    background-color: #008CBA; 
  }
  
  #nuevo {
    background-color: #f44336;
  }
  
  #buscarPorRut {
    background-color: #ff9
  